[submodule "vendor/sockpp"]
	path = vendor/sockpp
	url = https://github.com/fpagliughi/sockpp
[submodule "vendor/libcpr"]
	path = vendor/libcpr
	url = https://github.com/libcpr/cpr
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json
